<div>
  <h2>Take, TakeLast, TakeUntil</h2>
  <p>Take required data from the observable stream.</p>

  <div class="row">
    <div class="col-md-4">
      <strong>Take</strong>
      <p>Take <strong>n</strong> number of data from start</p>
      <hr>
      <ul class="technology_list" id="elContainer"></ul>
    </div>
    <div class="col-md-4">
      <strong>Take Last</strong>
      <p>Take <strong>n</strong> number of data from end</p>
      <hr>
      <ul class="technology_list" id="elContainer2"></ul>
    </div>
    <div class="col-md-4">
      <strong>Take Until</strong>
      <p>Take <strong>n</strong> number of data until a condition is met.</p>
      <hr>
      <ul class="technology_list" id="elContainer3"></ul>
    </div>
  </div>
</div>