<div>
  <h2>Subject</h2>
  <p>Subject is an observer and observable at the same time. It is also a multi cast observable.</p>
  <hr>
  <h2>Behavior Subject</h2>
  <p>In Behavior Subject we can set an initial value of the subject but cannot do that in the normal subject</p>
  <hr>
  <h3>Username is <strong class="text-success">{{data}}</strong></h3>

  <div class="row mt-4">
    <div class="col-md-4">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-4">
      <app-comp2></app-comp2>
    </div>
    <div class="col-md-4">
      <app-comp3></app-comp3>
    </div>
  </div>
</div>