<div>
  <h2>Concat Map</h2>
  <p>It is also a Flattening Operator. Subscribe inside a Subscribe. Concat Map maintains a order in which the data is
    subscribed.</p>

  <div class="row">
    <div class="col-md-4">
      <strong>Source 1 | Map</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer1">
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Source 2 | Map + ConcatAll</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer2">
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Source 3 | concatMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer3">
      </ul>
    </div>
  </div>
</div>