<div>
  <h2>combineLatest / withLatestFrom</h2>
  <p>Combines the Latest Values from multiple streams and emits the output into a single stream.</p>

  <div class="row">
    <div class="col-md-2">
      <strong>Names</strong>
      <hr>
      <select class="form-control">
        <option *ngFor="let item of selectSource " value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="col">
      <strong>CombineLatest</strong>
      <hr>
      <span class="bg-primary py-2 px-5 mx-2 rounded">One</span>
      <span class="bg-success py-2 px-5 mx-2 rounded">Two</span>
      <span class="bg-secondary py-2 px-5 mx-2 rounded">Three</span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-2">
      <strong>Colors</strong>
      <hr>
      <select class="form-control">
        <option *ngFor="let item of colorSource " value="{{item}}">{{item}}</option>
      </select>
    </div>
    <div class="col">
      <strong>WithLatest</strong>
      <hr>
      <span class="bg-primary py-2 px-5 mx-2 rounded">One</span>
      <span class="bg-success py-2 px-5 mx-2 rounded">Two</span>
      <span class="bg-secondary py-2 px-5 mx-2 rounded">Three</span>
    </div>
  </div>
</div>