<div>
  <h2>Concat</h2>
  <p>One By One Concat different streams into a single Stream</p>

  <div class="row">
    <div class="col-md-4">
      <strong>Source 1 | Music (5)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Music Video List </strong> 1,2,3,4,5
      </p>
    </div>
    <div class="col-md-4">
      <strong>Source 2 | Video Channel(3)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Video List: </strong> 1,2,3
      </p>
    </div>
    <div class="col-md-4">
      <strong>Source 3 | News Channel(4)</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>News Video List: </strong> 1,2,3,4
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Concat Videos</div>
        <div class="card-body">
          <ul id="elContainer"></ul>
        </div>
      </div>
    </div>
  </div>
</div>