<div class="row text-center">
  <div class="col-md-3 my-3" [routerLink]="['from-event']">
    <div class="card">
      <div class="card-body py-5">
        From Event
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['interval']">
    <div class="card">
      <div class="card-body py-5">
        Interval
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['of-from']">
    <div class="card">
      <div class="card-body py-5">
        Of From
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['to-array']">
    <div class="card">
      <div class="card-body py-5">
        To Array
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['custom-observable']">
    <div class="card">
      <div class="card-body py-5">
        Custom Observable
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['map']">
    <div class="card">
      <div class="card-body py-5">
        Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['pluck']">
    <div class="card">
      <div class="card-body py-5">
        Pluck
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['filter']">
    <div class="card">
      <div class="card-body py-5">
        Filter
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['tap']">
    <div class="card">
      <div class="card-body py-5">
        Tap
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['take']">
    <div class="card">
      <div class="card-body py-5">
        Take
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['retry']">
    <div class="card">
      <div class="card-body py-5">
        Retry
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['debounce-time']">
    <div class="card">
      <div class="card-body py-5">
        DebounceTime
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['concat-map']">
    <div class="card">
      <div class="card-body py-5">
        Concat Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['behavior-subject']">
    <div class="card">
      <div class="card-body py-5">
        Behaviour Subject
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['replay-subject']">
    <div class="card">
      <div class="card-body py-5">
        Replay Subject
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['async-subject']">
    <div class="card">
      <div class="card-body py-5">
        Async Subject
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['concat']">
    <div class="card">
      <div class="card-body py-5">
        Concat
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['merge']">
    <div class="card">
      <div class="card-body py-5">
        Merge
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['merge-map']">
    <div class="card">
      <div class="card-body py-5">
        Merge Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['concat-map']">
    <div class="card">
      <div class="card-body py-5">
        Concat Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['switch-map']">
    <div class="card">
      <div class="card-body py-5">
        Switch Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['exhaust-map']">
    <div class="card">
      <div class="card-body py-5">
        Exhaust Map
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['share-replay']">
    <div class="card">
      <div class="card-body py-5">
        Share Replay
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['combine-latest']">
    <div class="card">
      <div class="card-body py-5">
        Combine Latest
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['zip-fork-join']">
    <div class="card">
      <div class="card-body py-5">
        Zip, Fork & Join
      </div>
    </div>
  </div>
  <div class="col-md-3 my-3" [routerLink]="['catch-error']">
    <div class="card">
      <div class="card-body py-5">
        Catch Error & Throw Error
      </div>
    </div>
  </div>
</div>