<div>
  <h2>Switch Map</h2>
  <p>Flattening Operator. Projects each source value to an Observable which is merged in the output Observable, emitting
    values only from the most recently projected Observable. </p>

  <div class="row">
    <div class="col-md-4">
      <strong>Source 1 | Map</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer1">
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Source 2 | Map + SwitchAll</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer2">
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Source 3 | switchMap</strong>
      <hr>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Videos List </strong> ['Music', 'News', 'Tech']
      </p>
      <hr>
      <ul class="technology_list" id="elContainer3">
      </ul>
    </div>
  </div>
</div>